@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Oxygen&display=swap');
@font-face {
    font-family: "Digital";
    src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
    src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    background-color:#5CDB95;
}

#root {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color:#5CDB95;
}

#header {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #EDF5E1;
}

#app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 4fr 3fr;
    grid-row-gap: 10px;
    margin-top: 20px;
    background-color: #05386B;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: -1px 1px 9px -1px rgba(5,56,107,1);
    -moz-box-shadow: -1px 1px 9px -1px rgba(5,56,107,1);
    box-shadow: -1px 1px 9px -1px rgba(5,56,107,1);
    border-radius: 10px;
    padding-top: 15px;
}

.settings-box {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
}

.duration-box {
    margin: 15px;
    text-align: center;
}

.duration-setting {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.increment, .decrement {
    cursor: pointer;
    padding: 10px;
}

.length {
    padding: 10px;
}

.session-number {
    text-align: right;
    padding-right: 15px;
    width: 100%;
    font-size: 1.5em;
}

.countdown-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    border: 3px solid #379683;
    border-radius: 25px;
    margin: 15px;
    padding: 5px;
    text-align: center;
}

#time-left {
    text-align: center;
    font-family: Digital;
    font-size: 80px;
}

.button-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    justify-items: center;
}

.button {
    padding: 20px;
    border-radius: 10px;
    background-color: #379683;
    font-weight: 1.5em;
    cursor: pointer;
    -webkit-box-shadow: -1px 1px 9px -1px rgba(55,150,131,1);
    -moz-box-shadow: -1px 1px 9px -1px rgba(55,150,131,1);
    box-shadow: -1px 1px 9px -1px rgba(55,150,131,1);
}

.button:active {
    transform: scale(0.95);
    transition: .52;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#author a {
    text-decoration: none;
}

#author a:hover {
    color: blue;
}



@media (max-width: 480px) {

    #root {
        align-items: stretch;
        padding: 0;
    }

    #app {
        padding: 30px;
    }

}
